*{
    padding: 0;
    margin: 0;
}
body{
    color: #737373;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.wrap{
    max-width: 1080px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
/* Header */
.header{
    padding: 15px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1313px;
    margin: 0 auto;
}
.menu{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.menu li{
    margin-left: 94px;
}
.menu li a{
    color: #252B42;
    text-decoration: none;;
}
.menu li a:hover{
    color: #FA4A0C;
}
/* Download Section */
.download_wrap{
    background: url(../img/bg-app.png) center center no-repeat;
    background-size: cover;
    padding: 73px 0 145px 0;
}
.download{
    color: #FFFFFF;
    text-align: center;
}
.download_text{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 7px;
}
.download_title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    margin-bottom: 10px;
}
.download_subtitle{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 48px;
}
.btn_block{
    margin-bottom: 146px;
}
.btn{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 16px 58px;
    display: inline-block;
    margin: 0 15px;
}
.btn:hover{
    border-color: #FA4A0C;
    background: #FA4A0C;
}
/* WorkApp Section */
.workapp_wrap{
    padding: 56px 0;
}
.part_title{
    color: #000000;
    font-weight: 600;
    font-size: 2.75rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 141px;
}
.workapp_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 41px;
}
.workapp_img{
    width: 47%;
    text-align: center;
}
.workapp_txt{
    width: 50%;
}
.workapp_txt h3{
    color: #FA4A0C;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-bottom: 7px;
}
.workapp_txt h2{
    color: #252B42;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 17px;
}
.workapp_txt p{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 17px;
}
.workapp_item:nth-child(2n){
    flex-direction: row-reverse;
}
.workapp_item:last-child{
    margin-bottom: 0;
}
/* Footer */
.footer_wrap{
    padding: 66px 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    color: #5C5C5C;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1rem;
}
/* Adaptive */
@media (max-width:800px){
    .header{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 30px;
    }
    .menu li{
        margin: 0 15px;
    }
    .download_wrap{
        padding: 40px 0 70px 0;
    }
    .download_text{
        font-weight: 500;
        font-size: 1.25rem;
    }
    .download_title{
        font-size: 2rem;
        line-height: 3.5rem;
    }
    .download_subtitle{
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .part_title{
        font-size: 2rem;
        margin-bottom: 60px;
    }
    .workapp_item, .workapp_item:nth-child(2n){
        flex-direction: column-reverse;
    }
    .workapp_img, .workapp_txt{
        width: 100%;
    }
    .workapp_txt{
        text-align: center;
        margin-bottom: 40px;
    }
    .workapp_txt h3{
        font-size: 1.25rem;
        line-height: 2.5rem;
    }
    .workapp_txt h2{
        font-size: 2rem;
        line-height: 3rem;
    }
    .workapp_txt p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}
@media (max-width:600px){
    .menu{
        justify-content: center;
    }
    .menu li{
        margin-top: 10px 15px;
    }
    .btn{
        display: block;
        margin: 15px auto;
        width: 290px;
        box-sizing: border-box;
    }
    .footer_wrap{
        padding: 30px 0;
    }
    .footer{
        flex-direction: column;
    }
    .footer img{
        margin-bottom: 30px;
    }
}
@media (max-width:400px){
    .download_text{
        font-size: 1rem;
    }
    .download_title{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .download_subtitle{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .part_title{
        font-size: 1.5rem;
    }
    .workapp_txt h3{
        font-size: 1rem;
        line-height: 2rem;
    }
    .workapp_txt h2{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .workapp_txt p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}